@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
	--yellow: #fad552;
	--purple: #b284ee;
	--light-grey: rgb(221, 221, 221);
	--dark-grey: rgb(46, 46, 46);
}

body {
  	height: 100%;
  	padding: 0;
  	display: flex;
  	flex-flow: row wrap;
  	margin: 0;
	width: 100%;
  	height: auto;
	background-image: url("https://amandaciliberto.github.io/DialUp/images/background.png");
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
}

h1{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-left: auto;
	font-family: 'Neonderthaw', cursive;
	font-size: 4em;
	font-weight: 100;
	color: var(--yellow);
	text-shadow: 4px 6px 10px #3b2f0c, 1px 1px 4px #f5c753;
	margin-bottom: 12px;
	margin-top: 12px;
}

#header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
 	width: 100%;
}

#product-image {
	width: 50px;
}

#tv {
	margin-top: 20px;
	position: relative;
}

#change-channel {
	position: absolute;
	z-index: 1 ;
	width: 5%;
	height: auto;
	margin-top: -8%;
	margin-left: 29%;
	transform: rotate(90deg);
	border-style: none;
	background-color: #A7925B;
	cursor: pointer;
}


#change-channel:hover{
	background-color: var(--yellow);
}

#channel-btns {
	display: flex;
	margin-bottom: 40px;
	justify-content: center;
	align-items: center;
}

#btn-start-game {
	z-index: 1;
	position: absolute;
	width: 20%;
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow);
	border-style: none;
	border-radius: 15px;
	margin-left: -60px;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	color: #461f7a;
	box-shadow: 4px 4px 2px #885DBF ;
	cursor: pointer;
}

#btn-start-game:hover {
	background-color: #aa8c1f;
}


canvas {
    border: 1px solid red;
    display: block;
}

.hourglass {
	width: 50px;
}

#left-panel {
	display:flex;
	flex-flow: row wrap ;
	justify-content: flex-start;
	margin-left: 4%;
	width: 37%;
}

#left-panel img {
	display:flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

#right-panel {
	margin-left: 4%;
	padding-right: 2%;
	width: 30%;
	height: 10em;
}

#call-now {
	position: absolute;
	z-index: 1;
	margin-top: 19%;
	margin-left: 33%; 
	width: 19%;
	height: auto;
	padding: 8px 20px;
}

#call-now:hover {
	color:var(--yellow);
	background-color: #886aafb0;
	text-shadow: 4px 6px 10px #3b2f0c, 1px 1px 4px #f5c753 ;
}

#instructions {
	position: absolute;
	width: 40%;
	font-size: 0.67em;
	line-height: 19px;
}

#instructions ol {
	font-size: 1.4em;
	margin-top: 4px;
	color: var(--dark-grey);
}

#random-phone {
	position: absolute;
	display: flex-start;
	font-weight: 600;
	text-align: left;
	z-index: 1;
	padding-left: 12px;
	font-size: 1.2em;
	width: 60%;
}

p#random-phone {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
	margin-top: 220px;
	width: 35%;
	padding-left: 24px;
}

span#r-num {
	display: flex;
	flex-flow: row wrap;
	justify-content: left;
	align-items: left;
	width: 100%;
	padding-top: 24px;
	font-size: 0.9em;
}

#instructions span {
	font-weight: 400;
}

#instructions h3 {
	font-size: 1.5em;
	padding-left: 24px;
	padding-top: 6px;
	margin-bottom: 0;
	font-weight: 600;
	color: black;
}

#instructions-timer h4 {
	position: absolute;
	margin-top: 20%;
	margin-left: 40%;
	text-align: center;
	font-weight: 700;
}

#timer {
	position: absolute;
	flex-direction: flex-end;
	margin-left: 48%;
	width: 6%;
}

#timer p {
	position: absolute;
	font-weight: 700;
	font-size: 0.8em;
	margin-left: -170%;
	margin-top: 75%;
}

#timer p span {
	font-size: 2em;
}

#timer img {
	position: absolute;
	margin-top: 65%;
	margin-right: 10%;
}

#tv-product {
	position: absolute;
	margin-top: 290px;
	z-index: 1;
	margin-left: 12%;
	text-align: center;
}

#shopping-list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 12px;
	margin-top: 36px;
	height: 10%;
	margin-bottom: 24px;
	border-radius:8px;
	background-color:  rgba(255, 255, 255, 0.3);
	border: 5px solid var(--yellow);
}

#shopping-list h2 {
	display: flex;
	align-items: center;
	padding-left: 8px;
	padding-right: 30%;
	margin: 0px;
	font-weight: 500;
}

.input-field {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row wrap;
	width: 30%;
	height: 40px;
	margin-left: 46.6%;
	margin-top: 16%;
}

input {
	display: flex;
	justify-content: left;
	height: 2.5em;
	padding: 0.6em;
	box-sizing: border-box;
	border-radius: 4px;
	border-style: none;
	width: 77%;
}

input::placeholder {
  color: var(--light-grey);
  font-size: 1.2em;
  font-style: italic;
}

button {
	width: 60px;
	height: 2.5em;
	margin-left: 0.5em;
	box-sizing: border-box;
	background-color: var(--light-grey);
	border-style: none;
	border-radius: 8px;
}

button:hover {
	background-color: grey;
	color: white;
	cursor: pointer;
}

canvas{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row wrap;
	margin-left: 47%;
	margin-top: 20%;
	width: 25%;
	border-color: transparent;
	}

