@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&family=Poppins:wght@100;200&display=swap');

:root {
	--yellow: #E1BB32;
	--purple: #B28AE5;
	--light-grey: rgb(221, 221, 221);
}

body {
  	height: 100%;
  	padding: 0;
  	display: flex;
  	flex-direction: column;
  	margin: 0;
	width: 100%;
  	height: auto;
	background-image: url(../images/background.png);
	font-family: 'Poppins', sans-serif;
}
#header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
 	width: 100%;
	margin-top: 0;
}

#product-image {
	width: 50px;
}

h1{
	width: 48%;
	margin-left: auto;
	margin-top: 24px !important;
	font-family: 'Neonderthaw', cursive;
	font-size: 4em;
	font-weight: 100;
	color: var(--yellow);
	text-shadow: 4px 6px 10px #3b2f0c, 1px 1px 4px #f5c753;
}

canvas {
    border: 1px solid red;
    display: block;
}

.hourglass {
	width: 50px;
}

#left-panel {
	display:flex;
	flex-flow: row nowrap ;
	justify-content: flex-start;
	margin-left: 4%;
	width: 37%;
}

#right-panel {
	display:flex;
	flex-flow: row wrap ;
	justify-content: flex-end;
	margin-left: 4%;
	width: 37%;
}

#shopping-list {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	padding: 12px;
	margin-top: 24px;
	margin-bottom: 24px;
	border-radius:8px;
	background-color:  var(--light-grey);
}

#shopping-list h2 {
	display: flex;
	align-items: center;
	padding-left: 8px;
	padding-right: 55%;
	margin: 0px;
}


input {
	width: 300px;
	height: 4em;
	padding-left: 0.5em;
	box-sizing: border-box;
}

button {
	width: 50px;
	height: 4em;
	margin-left: 0.5em;
	box-sizing: border-box;
}

#btn-start-game {
	width: 150px !important;
	height: 3em !important;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--yellow);
	border-style: none;
	border-radius: 20px;
	margin-right: 24px;
	font-family: 'Poppins', sans-serif;
	font-weight: bolder;
	color: #461f7a;
	box-shadow: 4px 4px 2px #885DBF ;
}

@media only screen and (max-width: 600px) {
	canvas{
		width: 100%;
	}
}